* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: repeat(2, 1fr); */
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  gap: 15px;
}

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  background-color: #f00;
  min-height: 100px;
  grid-column-start: 12 span;
}

.aside {
  background-color: #e2e20d;
  grid-column: 1 / span 2;
}

.main {
  grid-column: 3/ 12 span;
  background-color: #31bb0a;
  padding-top: 30px;
  padding-bottom: 30px;
}

.article {
  background-color: #de6e05;
  min-height: 200px;
}

.footer {
  background-color: #0b2fe2;
  min-height: 250px;
  grid-column-start: 12 span;
}

@media (width <= 1280px) {
  .main {
    grid-auto-flow: row;
    grid-column: 4 / span 12;
    grid-template-columns: repeat(auto-fit, minmax(150px));
  }

  .aside {
    grid-column: 1 / span 3;
  }
}

@media (width <=768px) {
  .aside {
    display: none;
  }

  .main {
    grid-column: 1 / span 12;
  }
}
