* {
  font-family: sans-serif;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  padding: 10px;
}

td,
th,
caption {
  border: 1px solid black;
  padding: 1px 3px;
}

caption {
  border-bottom: none;
  font-weight: bold;
}

.day-off {
  color: red;
}
