html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(182, 181, 181);
}

.header-link {
  color: black;
}

.header-link-1 {
  background-color: black;
  width: 50px;
  height: 50px;
}

.header-list {
  display: inline-block;
  padding: 8px;
}

.header-link-3 {
  text-decoration: none;
}
